@model PeopleViewModel
@using Repository.Site.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <script src="https://kit.fontawesome.com/833055c137.js" crossorigin="anonymous"></script>
    <style>
        .menu-table { display:table; }
        .menu-table > * { display:table-cell;vertical-align:middle; }
        #layout,#sidebar,#content {height:100%;}
        input {width:100%;}
        button {cursor:pointer;}
        table {border:none;}
    </style>
</head>
<body>
    <div id="layout" class="pure-g">
        <div id="sidebar" class="pure-u-1 pure-u-md-1-4" style="box-sizing:border-box; padding:20px; overflow-y: scroll; border-right: 1px solid #222;">
            @foreach (var person in Model.People)
            {
                <div class="pure-u-1" style="padding:10px;border: 1px solid #222;box-sizing:border-box;margin-bottom: 10px; cursor: pointer;">
                    <div style="font-size: 18px;">
                        <i class="fas fa-user"></i>
                        <strong>@person.Person.LastName, @person.Person.FirstName</strong></div>
                    <div style="font-size: 10px;">
                        @person.Person.Id</div>
                </div>
            }
        </div>
        <div id="content" class="pure-u-1 pure-u-md-3-4" style="box-sizing: border-box;">
            <div class="pure-u-1 pure-u-md-1-2" style="border-right: 1px solid #222; box-sizing:border-box;padding:20px;height:100%;">
                <div class="pure-u-1" style="position:relative;height:100%;">
                    <header style="margin-bottom: 20px; font-size: 20px;">Edit your information here:</header>
                    <section class="pure-u-1" style="margin-bottom:10px;">
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Id:</span></div>
                            <div class="pure-u-3-4">
                                <input id="first-name" type="text" value="@Model.People.FirstOrDefault()?.Person.Id" disabled="disabled" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>First Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="first-name" type="text" value="@Model.People.FirstOrDefault()?.Person.FirstName" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Last Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="first-name" type="text" value="@Model.People.FirstOrDefault()?.Person.LastName" />
                            </div>
                        </div>
                    </section>
                    <section class="cars pure-u-1">
                        <table class="pure-u-1" border="0" cellspacing="0" width="100%" style="display:table;">
                            <tr style="margin-bottom: 5px;">
                                <td>Model</td>
                                <td>License Plate</td>
                                <td></td>
                            </tr>
                            @foreach(var car in Model.People.FirstOrDefault()?.Cars)
                            {
                                <tr data-car-id="@car.Id" class="car-show">
                                    <td>
                                        <div>
                                            <i class="fas fa-car"></i>
                                            @car.Make • @car.Model</div>
                                        <div style="font-size: 12px;">@car.Id</div>
                                    </td>
                                    <td style="width: 20%;">@car.LicensePlate</td>
                                    <td style="width: 50px; text-align: right;">
                                        <span class="edit-car" style="cursor:pointer;"><i class="fas fa-edit"></i></span>
                                        <span class="delete-car" style="cursor:pointer;font-size:15px;"><i class="fas fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr data-car-id="@car.Id" class="car-edit" style="display:none;">
                                    <td colspan="10">
                                        <div class="pure-g">
                                            <div class="pure-u-1-4 menu-table">
                                                <span>Make:</span>
                                            </div>
                                            <div class="pure-u-3-4">
                                                <input value="@car.Make">
                                            </div>
                                        </div>
                                        <div class="pure-g">
                                            <div class="pure-u-1-4 menu-table">
                                                <span>Model:</span>
                                            </div>
                                            <div class="pure-u-3-4">
                                                <input value="@car.Model">
                                            </div>
                                        </div>
                                            <div class="pure-g">
                                            <div class="pure-u-1-4 menu-table">
                                                <span>License Plate:</span>
                                                </div>
                                                <div class="pure-u-3-4">
                                                    <input value="@car.LicensePlate">
                                                </div>
                                            </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </section>
                    <section class="buttons" style="position:absolute;bottom:0;left:0;right:0;">
                        <button id="edit-save">Save</button>
                        <button id="edit-clear">Clear Changes</button>
                    </section>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2"></div>
        </div>
    </div>
</body>
</html>