@model PeopleViewModel
@using Repository.Site.ViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var selectedPerson = Model.People.FirstOrDefault()?.Person;
}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <script src="https://kit.fontawesome.com/833055c137.js" crossorigin="anonymous"></script>
    <style>
        .menu-table { display: table; padding: 0; margin: 0; }
            .menu-table > * { display: table-cell; vertical-align: middle; }
        #layout, #sidebar, #content { height: 100%; }
        input { width: 100%; }
        button { cursor: pointer; }
        table { border: none; }
        .selected { border-left: 5px solid #222 !important; }
    </style>
</head>
<body>
    <div id="layout" class="pure-g">
        <div id="sidebar" class="pure-u-1 pure-u-md-1-4" style="box-sizing:border-box; padding:20px; overflow-y: auto; border-right: 1px solid #222;">
            @foreach (var person in Model.People)
            {
                <div data-person-id="@person.Person.Id" class="pure-u-1 person @(selectedPerson == person.Person ? "selected" : null)" style="padding:10px;border: 1px solid #222;box-sizing:border-box;margin-bottom: 10px; cursor: pointer;">
                    <ul class="menu-table">
                        <li style="padding-right:5px;"><i class="fas fa-user"></i></li>
                        <li style="width:100%;">
                            <div style="font-size: 18px;">
                                <strong>@person.Person.LastName, @person.Person.FirstName</strong>
                            </div>
                            <div style="font-size: 10px;">
                                @person.Person.Id
                            </div>
                        </li>
                        <li>
                            <span class="person-delete" title="Deletes a Person">
                                <i class="fas fa-trash"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div id="content" class="pure-u-1 pure-u-md-3-4" style="box-sizing: border-box;">
            @*edit*@
            <div class="pure-u-1 pure-u-md-1-2" style="border-right: 1px solid #222; box-sizing:border-box;padding:20px;height:100%;float:left;">
                <div class="pure-u-1" style="position:relative;height:100%;">
                    <header style="margin-bottom: 20px; font-size: 20px;">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                        Edit the person's information here:
                    </header>
                    <section class="pure-u-1" style="margin-bottom:10px;">
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Id:</span></div>
                            <div class="pure-u-3-4">
                                <input id="id" type="text" value="@Model.People.FirstOrDefault()?.Person.Id" disabled="disabled" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>First Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="first-name" type="text" value="@Model.People.FirstOrDefault()?.Person.FirstName" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Last Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="last-name" type="text" value="@Model.People.FirstOrDefault()?.Person.LastName" />
                            </div>
                        </div>
                    </section>
                    <section class="edit cars pure-u-1">
                        <table class="pure-u-1" border="0" cellspacing="5" width="100%" style="display:table;border:1px solid #222;">
                            <thead>
                                <tr style="margin-bottom: 5px;">
                                    <th style="width:auto;text-align:left;">Model</th>
                                    <th style="width:20%;text-align:left;">License Plate</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            @foreach (var car in Model.People.FirstOrDefault()?.Cars)
                            {
                                <tr data-car-id="@car.Id" data-car-make="@car.Make" data-car-model="@car.Model" data-car-licenseplate="@car.LicensePlate" class="car-show">
                                    <td>
                                        <ul class="menu-table">
                                            <li style="padding-right: 5px;"><i class="fas fa-car"></i></li>
                                            <li>
                                                <div class="car-show-make-model">@car.Make • @car.Model</div>
                                                <div style="font-size: 12px;">@car.Id</div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="car-show-licenseplate">@car.LicensePlate</td>
                                    <td style="text-align: right;">
                                        <span class="edit-car" style="cursor:pointer;" title="Edit"><i class="fas fa-edit"></i></span>
                                        <span class="delete-car" style="cursor:pointer;font-size:15px;" title="Delete"><i class="fas fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr data-car-id="@car.Id" class="car-edit" style="display:none;">
                                    <td colspan="10">
                                        <div class="pure-u-1" style="border:1px dotted #222;box-sizing:border-box;padding:10px;margin-bottom:10px;">
                                            <div class="pure-g">
                                                <div class="pure-u-1-4 menu-table">
                                                    <span>Make:</span>
                                                </div>
                                                <div class="pure-u-3-4">
                                                    <input class="car-edit-make" value="@car.Make">
                                                </div>
                                            </div>
                                            <div class="pure-g">
                                                <div class="pure-u-1-4 menu-table">
                                                    <span>Model:</span>
                                                </div>
                                                <div class="pure-u-3-4">
                                                    <input class="car-edit-model" value="@car.Model">
                                                </div>
                                            </div>
                                            <div class="pure-g">
                                                <div class="pure-u-1-4 menu-table">
                                                    <span>License Plate:</span>
                                                </div>
                                                <div class="pure-u-3-4">
                                                    <input class="car-edit-licenseplate" value="@car.LicensePlate">
                                                </div>
                                            </div>
                                            <div class="pure-g" style="margin-top:5px;">
                                                <div class="pure-u-1-4">
                                                </div>
                                                <div class="pure-u-3-4">
                                                    <span class="car-edit-save" style="cursor:pointer;" title="Save"><i class="fas fa-save"></i></span>
                                                    <span class="car-edit-cancel" style="cursor:pointer;font-size:15px;" title="Cancel"><i class="fas fa-window-close"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </section>
                    <section class="buttons" style="position:absolute;bottom:0;left:0;right:0;background-color:lightgray;padding:20px;">
                        <div class="pure-u-1" style="border:1px dotted #222;box-sizing:border-box;padding:10px;margin-bottom:10px;">
                            <header style="margin-bottom:5px;">
                                <strong>New car:</strong>
                            </header>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>Make:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-make" value="">
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>Model:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-model" value="">
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>License Plate:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-licenseplate" value="">
                                </div>
                            </div>
                            <div class="pure-g" style="margin-top:5px;">
                                <div class="pure-u-1-4">
                                </div>
                                <div class="pure-u-3-4">
                                    <span class="car-new-save" style="cursor:pointer;" title="Save"><i class="fas fa-save"></i></span>
                                    <span class="car-new-cancel" style="cursor:pointer;font-size:15px;" title="Cancel"><i class="fas fa-window-close"></i></span>
                                </div>
                            </div>
                        </div>
                        <button id="person-edit-save">Save</button>
                        <button id="person-edit-clear">Clear Changes</button>
                    </section>
                </div>
            </div>
            @*new*@
            <div class="pure-u-1 pure-u-md-1-2" style="border-right: 1px solid #222; box-sizing:border-box;padding:20px;height:100%;">
                <div class="pure-u-1" style="position:relative;height:100%;">
                    <header style="margin-bottom: 20px; font-size: 20px;">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        Enter the person's information here for a new entry:
                    </header>
                    <section class="pure-u-1" style="margin-bottom:10px;">
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Id:</span></div>
                            <div class="pure-u-3-4">
                                <input id="new-id" type="text" value="" disabled="disabled" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>First Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="new-first-name" type="text" value="" />
                            </div>
                        </div>
                        <div class="pure-g" style="margin-bottom: 5px;">
                            <div class="pure-u-1-4 menu-table"><span>Last Name:</span></div>
                            <div class="pure-u-3-4">
                                <input id="new-last-name" type="text" value="" />
                            </div>
                        </div>
                    </section>
                    <section class="new cars pure-u-1">
                        <table class="pure-u-1" border="0" cellspacing="5" width="100%" style="display:table;border:1px solid #222;">
                            <thead>
                                <tr style="margin-bottom: 5px;">
                                    <th style="width:auto;text-align:left;">Model</th>
                                    <th style="width:20%;text-align:left;">License Plate</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                        </table>
                    </section>
                    <section class="buttons" style="position:absolute;bottom:0;left:0;right:0;background-color:lightgray;padding:20px;">
                        <div class="pure-u-1" style="border:1px dotted #222;box-sizing:border-box;padding:10px;margin-bottom:10px;">
                            <header style="margin-bottom:5px;">
                                <strong>New car:</strong>
                            </header>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>Make:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-make" value="">
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>Model:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-model" value="">
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-4 menu-table">
                                    <span>License Plate:</span>
                                </div>
                                <div class="pure-u-3-4">
                                    <input class="car-edit-licenseplate" value="">
                                </div>
                            </div>
                            <div class="pure-g" style="margin-top:5px;">
                                <div class="pure-u-1-4">
                                </div>
                                <div class="pure-u-3-4">
                                    <span class="car-new-save" style="cursor:pointer;" title="Save"><i class="fas fa-save"></i></span>
                                    <span class="car-new-cancel" style="cursor:pointer;font-size:15px;" title="Cancel"><i class="fas fa-window-close"></i></span>
                                </div>
                            </div>
                        </div>
                        <button id="person-new-save">Save</button>
                        <button id="person-new-clear">Clear Changes</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript">
        $("#sidebar .person").each(function () {
            var person = $(this);
            person.click(function () {
                var id = person.attr("data-person-id");

                //obtains the person information
                $.ajax({
                    url: "/api/people/" + id,
                    dataType: "json",
                    complete: function (a, b) {
                        console.log(a);
                        console.log(b);
                        var json = a.responseJSON;

                        $("input#id").val(json.id);
                        $("input#first-name").val(json.firstName);
                        $("input#last-name").val(json.lastName);

                        $("#sidebar .selected").removeClass("selected");
                        $("#sidebar [data-person-id=" + json.id + "]").addClass("selected");

                        //and their cars (if any)
                        $.ajax({
                            url: "/cars/cars/?personId=" + id,
                            dataType: "html",
                            complete: function (a, b) {
                                console.log(a);
                                console.log(b);
                                var html = a.responseText;
                                $(".edit.cars > table").empty();
                                $(".edit.cars > table").html(html);
                                actions();
                            }
                        });
                    }
                });
            });
        });

        $("#person-edit-clear").click(function () {
            var em = $(this);
            var pr = $("[data-person-id].person.selected");
            var id = pr.data("person-id");
            pr.click();
            console.log(pr);
        });

        $("#person-new-clear").click(function () {
            $(".new.cars > tbody").empty();
            $("#new-first-name").val("");
            $("#new-last-name").val("");
        });

        /*saving the new person*/
        $("#person-new-save").click(function () {
            var pvm = {
                Person: { FirstName: "", LastName: "" },
                Cars: []
            };

            pvm.Person.FirstName = $("#new-first-name").val();
            pvm.Person.LastName = $("#new-last-name").val();

            $.ajax({
                url: "/home/new/",
                dataType: "json",
                data: pvm,
                method: "POST",
                complete: function (a, b) {
                    console.log(a);
                    console.log(b);
                    if (b == "success") {
                        $("#person-new-clear").click();
                        window.location.reload();
                    }
                }
            });
        });

        /*deletes a person*/
        $(".person-delete").click(function (event) {
            event.stopPropagation();
            var em = $(this);
            var id = em.closest("[data-person-id]").data("person-id");
            $.ajax({
                url: "/home/delete/?personId=" + id,
                method: "DELETE",
                complete: function (a, b) {
                    console.log(a);
                    console.log(b);
                    if (b == "success") window.location.reload();
                }
            });
        });

        /*saving the new person*/
        $("#person-edit-save").click(function () {
            var pvm = {
                Person: { Id: "", FirstName: "", LastName: "" },
                Cars: []
            };

            pvm.Person.Id = $("#id").val();
            pvm.Person.FirstName = $("#first-name").val();
            pvm.Person.LastName = $("#last-name").val();

            $("tr[data-car-id].car-show").each(function () {
                var tr = $(this);
                var id = tr.attr("data-car-id");
                var make = tr.attr("data-car-make");
                var model = tr.attr("data-car-model");
                var licenseplate = tr.attr("data-car-licenseplate");
                var deleted = tr.attr("data-car-deleted");

                var car = {
                    Id: id,
                    PersonId: pvm.Person.Id,
                    Make: make,
                    Model: model,
                    LicensePlate: licenseplate,
                    Deleted: deleted
                };

                pvm.Cars.push(car);
            });

            $.ajax({
                url: "/home/edit/",
                dataType: "json",
                data: pvm,
                method: "POST",
                complete: function (a, b) {
                    console.log(a);
                    console.log(b);
                    if (b == "success") {
                        window.location.reload();
                        $("#sidebar > [data-person-id=" + pvm.Person.Id + "]").click();
                    }
                }
            });
        });

        function actions() {
            $(".edit-car").click(function () {
                var em = $(this);
                var tr = em.closest("tr[data-car-id]");
                var cs = em.closest("tr.car-show");
                var id = tr.attr("data-car-id");
                var ce = $("tr[data-car-id=" + id + "].car-edit");

                cs.hide();

                var make = tr.attr("data-car-make");
                var model = tr.attr("data-car-model");
                var licenseplate = tr.attr("data-car-licenseplate");

                ce.find(".car-edit-make").val(make);
                ce.find(".car-edit-model").val(model);
                ce.find(".car-edit-licenseplate").val(licenseplate);

                ce.show();

                console.log(ce);
            });

            $(".delete-car").click(function () {
                var em = $(this);
                var tr = em.closest("tr[data-car-id]");
                var cs = em.closest("tr.car-show");
                cs.attr("data-car-deleted", true);
                cs.hide();
            });

            $(".car-edit-cancel").click(function () {
                var em = $(this);
                var tr = em.closest("tr[data-car-id]");
                var id = tr.attr("data-car-id");
                var ce = $("tr[data-car-id=" + id + "].car-edit");
                var cs = $("tr[data-car-id=" + id + "].car-show");

                ce.hide();
                cs.show();
            });

            $(".car-edit-save").click(function () {
                var em = $(this);
                var tr = em.closest("tr.car-edit");
                var id = tr.attr("data-car-id");
                var ce = $("tr[data-car-id=" + id + "].car-edit");
                var cs = $("tr[data-car-id=" + id + "].car-show");

                var newMake = tr.find(".car-edit-make").val();
                var newModel = tr.find(".car-edit-model").val();
                var newLicensePlate = tr.find(".car-edit-licenseplate").val();

                cs.find(".car-show-make-model").text(newMake + " • " + newModel);
                cs.find(".car-show-licenseplate").text(newLicensePlate);

                cs.attr("data-car-make", newMake);
                cs.attr("data-car-model", newModel);
                cs.attr("data-car-licenseplate", newLicensePlate);

                ce.hide();
                cs.show();
            });
        }

        actions();
    </script>
</body>
</html>